.card {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card h1 {
    font-size: 24px;
    color: #666;
    margin: 10px 0 5px;
}

.card h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
}
